body header nav div ul li{
    background: transparent;
    display: block;
}

/*fonts*/
body header nav div h1 h2 h3 h4 h5 h6 p a ul li{
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body{
    background-color: antiquewhite;
    line-height: 1;
}

header{
    height: 125px;
    margin-bottom: 60px;
}

#title{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
    text-shadow: 2px 2px rgb(167, 203, 240);
}

#nav{
    position: absolute;
    overflow: hidden; 
    width: calc(100%-20px);
    height: 50px;
    color: white;
    background-color: black;
    right: 10px;
    left: 10px;
    padding: 0;
}

a{
    color: white;
    padding: 16px 35px;
    border: 1px solid #333
    
}

#nav a, #SearchBar{
    float: left;
    font: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
    list-style-image: none;
}

#nav a:hover{
    background-color: #333;
}

#SearchBar{ 
    padding: 10px;
    width: 10%; 
    height: 25px; 
    font-size: 100%; 
}

main{
    flex: 1;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
}

#sideBar {
    flex: 0 0 15%; 
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}

#mainContent {
    flex: 1; 
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}

#courseOfferingsideBar {
    flex: 0 0 15%; 
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}